A:hover {

	COLOR: #000000; TEXT-DECORATION: none

}

.mainlinks {  font-family: Verdana; font-size: 12px; font-weight: normal; color:#0033FF; text-decoration: underline}

.welcome {  font-family: Verdana; font-size: 14px; font-weight: normal; color: #006600; text-decoration: none}

.mainsublinks {  font-family: Verdana; font-size: 10px; color: #663333; text-decoration: none; font-weight: normal}

.insidetxt {  font-family: Verdana; font-size: 10px; color: #0033FF}

.subheading {  font-family: Verdana; font-size: 10px; font-weight: bold; color: #663333}

.links { font-family: Verdana; font-size: 12px; color: #CC9933; text-decoration: none}

.heading {  font-family: Verdana; font-size: 12px; font-weight: bold; color: #CC9933}

.mainlinksout { font-family: Verdana; font-size: 10px; font-weight: bolder; color: #000000; text-decoration: none }

.mainsublinksout { font-family: Verdana; font-size: 10px; color: #663333; text-decoration: none; font-weight: bold}

.showcase {  font-family: Verdana; font-size: 10px; color: #663333; text-decoration: none; font-weight: bold}

.subsubheading {  font-family: Verdana; font-size: 11px; font-weight: bold; color: #000000}

.showcasetext { font-family: Verdana; font-size: 10px; color: #000000; text-decoration: none; font-weight: normal}

.homepagetext { font-family: Verdana; font-size: 11px; color: #000000 }

.address {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000}

.maintitle {  font-family: Verdana; font-size: 18px; font-weight: normal; text-transform: none; color: #663333}

.slogan{  font-family: Verdana; font-size: 13px; font-weight: bold; color:#0033FF}

.quote { font-family: Verdana; font-size: 11px; font-weight: bold; color: #663333}

.question { font-family: Verdana; font-size: 10px; color: #663333; text-decoration: none; font-weight: bold }

.homelinks { font-family: Verdana; font-size: 11px; color: #CC9933; text-decoration: none }

.tablecaption { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000 }

.download { font-family: Verdana; font-size: 11px; color: #000000 }

.author { font-family: Verdana; font-size: 11px; color: #000000 }

.articlelinks { font-family: Verdana; font-size: 12px; color: #CC6600; text-decoration: underline; font-weight: normal}

div.floatleft {float: left; padding: 10px;}

div.floatright {float: right; padding: 10px;}

div.floatleft p {text-align: left;; font-family: Verdana; font-size: 9px; font-weight: bold; color: #000066}

div.floatright p {text-align: left;; font-family: Verdana; font-size: 9px; font-weight: bold; color: #000066}div.floatcenter { float: left; padding: 10px; }

.pagelinks { font-family: Verdana; font-size: 10px; color: #CC9933; text-decoration: none }

.showcaselinks { font-family: Verdana; font-size: 10px; color: #CC9933; text-decoration: none; font-weight: normal }

li {

	padding: 2px;

}