/* ----------------------------------------------------------------------------------------- 
____________________________________________________________________

"Screen" Style Sheet

@Project - 
@Description: 
@Author: 
@Author 
@Version: 1.0 / Stacks

____________________________________________________________________

------------------------------------------------------------------------------------------ */

/*
=Colours
Doh!!!
*/



/* =reset & basics
------------------------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; background: transparent;
}
ol, ul { list-style: none; list-style-image: none; list-style-position: outside; list-style-type: none; }
a img { border: 0; background: none; }
img	{ vertical-align: middle; }ins { text-decoration: none; }
del { text-decoration: line-through; }
/* tables still need 'cellspacing="0"' in the markup */
a img { border: none; }
abbr, acronym { border-bottom-width: 0; }
strong { font-weight: bold; }
em, cite, i { font-style: italic; font-family: Georgia, "Times New Roman", Times, serif; }

/* =visuallyHide / accessibility */
.visuallyHidden, .accessibility { position: absolute; top: -500px; left: 0px; width: 1px; height: 1px; overflow: hidden; }

/* =text-selection */
::selection { color: #f1efa5; background-color: #554236; text-shadow: none; }
::-moz-selection { color: #f1efa5; background-color: #554236; text-shadow: none; } /* mozilla */

/* =clearfix */
.clearfix:before, .clearfix:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; } /* IE 6 and 7 */

/* =clear */
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

/* =defaults
------------------------------------------------------------------------------------------ */
a { color: #fa6900; text-decoration: none; border-bottom: 1px dotted #ccc; border-bottom: 1px dotted rgba(255, 255, 255, 0.7); }
a:hover, a:focus { color: #d3ce3d; text-decoration: none; border-bottom: 0 none;}
a img { margin-left: auto; margin-right: auto; }

strong { font-weight: bold; }
sup { text-transform: lowercase; font-size: smaller; vertical-align: super; }
small { font-size: smaller; }
.floatRight { float: right; }
.floatLeft { float: left; }

/* classes, defaults ----------------------------------------------- */
.half_width, .one_half { width:48.5%; }
.one_half_contact { width:46.5%; }
.one_third { width:31.11%; }
.two_third { width:65.8%; }
.one_fourth { width:22.4%; }
.one_fifth { width:17.2%; }
.three_fourth { width:74.5%; }
.four_fifth { width:79.5%; }
.two_fifth { width:37.7%; }
.three_fifth { width:58.5%; }
.one_sixth { width:13.8%; }
.one_half, .half_width, .one_third, .two_third, .one_fourth, .one_fifth, .four_fifth, .one_sixth, .two_fifth, .three_fifth, .three_fourth { float:left; position:relative; display:inline; margin-right:3%; overflow: hidden; }
.last { margin-right:0 !important; overflow: hidden; }

.separator { width: 100%; height: 1px; margin-bottom: 15px; border-bottom: 1px dotted #ccc; }
.defaultCursor { cursor: default; }



/* =layout / divisions
------------------------------------------------------------------------------------------ */
html, body { height: 100%; }
body { font: 14px/20px 'PR', Helvetica, Arial, sans-serif; color: #554236; }

#outerWrapper { overflow: hidden; width: 100%; min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -48px; background: url(../images/layout/bg-pattern.png) repeat 0 0 fixed transparent; }
 
#headerWrapper { position: relative; width: 100%; height: 38px; margin: 0 auto; padding: 10px 0 0 0; background: #FFCCFF; border-bottom: 4px solid #f49e60;  }
#logo { padding: 0 0 0 40px; color: #fff; font-family: 'PR', Helvetica, Arial, sans-serif; text-transform: lowercase; }
#logo h1 { float: left; text-decoration: none; font-size: 24px; line-height: 32px; font-family: 'PB', Helvetica, Arial, sans-serif;  }
#logo h1 span { font-family: 'PR', Helvetica, Arial, sans-serif; font-size: 15px; font-weight: normal; color: #fdc399; }
#logo h3 { position: absolute; top: 40px; left: 40px; font-size: 20px; line-height: 26px; color: #fa6900; text-transform: uppercase;  }
#logo h3 span { margin-right: 25px; }

/* =navMain
------------------------------------------------------------------------------------------ */
#navMain { float: right; font-size: 15px; color: #fff; padding: 0; text-transform: lowercase; right: 0; }
#navMain li { position: relative; display: block; float: left; margin: 0 40px 0 0; padding: 8px 0 11px; z-index: 5; }
#navMain li a { position: relative; display: block; float: left; border-bottom: 0 none; color: #fff; }
#navMain li a:hover, #navMain li a:focus { }
#navMain li.selected a, #navMain li.selectedLava a { color: #f1efa5; }
#navMain li.backLava { border-bottom: 4px solid #f1efa5; height: 38px !important; }

#navMain li a.icon { width: 16px; height: 18px; text-indent:-9999px; margin-top: 1px; }


#navMain li a.home:hover, #navMain li a.home:focus, #navMain li a.share:hover, #navMain li a.share:focus, 
#navMain li a.comments:hover, #navMain li a.comments:focus, #navMain li a.social:hover, #navMain li a.social:focus{ background-position: 0 -18px; }

/* sub menu - superfish */
#navMain ul { position: absolute; top: -999em; width: 120px; /* left offset of submenus need to match (see below) */ color: #f1efa5; font-size: 14px; background: url(../images/layout/h1-bg.png) repeat transparent; /* The Fallback */ background: none rgba(46, 25, 12, 0.65); text-shadow: 2px 2px 0 #422919; z-index: 9999; }
#navMain ul li { width: 100%; margin: 0; padding: 0; }
#navMain ul a { color: #f1efa5; }
#navMain ul a:hover, #navMain ul a:focus { color: #fff; }
#navMain li:hover { visibility: inherit; /* fixes IE7 'sticky bug' */ }

#navMain li ul li a { float: none; margin: 8px 0; padding: 0 0 0 35px; text-shadow: none; }
#navMain li ul li a:hover, #navMain li ul li a:focus { color: #F1EFA5; }
#navMain li:hover ul, #navMain li.sfHover ul { left: -60px; top: 38px; /* match top ul list item height */ z-index: 9999; }
#navMain #share:hover ul, #navMain #share.sfHover ul { padding: 10px 10px 0; }
#navMain #share li { padding: 0 0 10px 8px; }
#navMain #comments ul { width: 495px; padding-bottom: 0; }
#navMain #comments:hover ul, #navMain #comments.sfHover ul { left: -400px; top:38px; }
#navMain #comments li { padding: 0 0 0 12px; }
.fb-comments { overflow: hidden; background-color: #2e190c; }
#navMain #social:hover ul, #navMain #social.sfHover ul { width: 180px; left: -140px; top: 38px; }
#navMain a, #navMain a:visited  { /* visited pseudo selector so IE6 applies text colour*/ }
 
#contentWrapper { overflow: hidden; width: 960px; margin: 0 auto; padding: 48px 0; }
#contentWrapper h1 { position: relative; float: right; width: 565px; padding: 14px 18px 18px; font-size: 24px; font-family: 'PR', Helvetica, Arial, sans-serif; line-height: 30px; color: #f1efa5; text-transform: uppercase; text-align: right; background: url(../images/layout/h1-bg.png) repeat transparent; /* The Fallback */ background: none rgba(46, 25, 12, 0.65); text-shadow: 2px 2px 0 #422919; }
#contentWrapper h1 strong { display: block; right: 18px; font-size: 22px; font-family: 'PB', Helvetica, Arial, sans-serif; color: #d3ce3d; text-transform: lowercase; text-align: right; }

#content { overflow: hidden; padding: 24px 24px 4px 24px; background-color: #fff; color: #554236; }

h2 { margin-bottom: 20px; color: #f77825; text-transform: uppercase; }

h1, h2, h3, h4 { font-family: 'PB', Helvetica, Arial, sans-serif; font-weight: normal; }
h1 strong, h2 strong, h3 strong, h4 strong, p strong { font-weight: normal; }
h3 { font-size: 16px; text-transform: uppercase; margin-bottom: 20px; }
h4 { font-size: 14px; margin-bottom: 20px; }
p { margin-bottom: 20px; }
ol { margin-bottom: 10px; padding-left: 24px; }
ol ol { padding-top: 10px; }
ol li { list-style: decimal; margin-bottom: 10px; }

#home blockquote { font-size: 14px; line-height: 20px; }
#home blockquote p { margin-bottom: 20px; }
#home blockquote p strong { font-family: 'PB', Helvetica, Arial, sans-serif; }

/* =footer
------------------------------------------------------------------------------------------ */
#footerWrapper { position: relative; width: 100%; height: 48px; background: #00af00; color: #554236; text-transform: uppercase; font-size: 12px; }
#footerWrapper p { margin: 0; }
#footerWrapper p.copyright { float: left; padding: 16px 0 0 40px; }

.footerLink { float: right; padding: 16px 20px 0 0; }
.footerLink li {  display: block; float: left; margin: 0 20px 0 0; }
.footerLink li a {  border-bottom: none; color: #554236; }

.push { height: 48px; }



.copyright a { color: #554236; }
.copyright a:hover, .copyright a:focus { color: #FA6900; }

 
/* Supersized */
body { height: 100%; background-color: #ffffff; }
img{ border: none; }


#supersized { position:fixed; left:0; top:0; overflow:hidden; z-index:-999; height:100%; width:100%; }
#supersized img{ width:auto; height:auto; position:relative; outline:none; border:none; }

#supersized a { z-index:-30; position:fixed; overflow:hidden; top:0; left:0; width:100%; height:100%; background:#111; display:block; }

			
