/* CSS Document */
.paginate {
font-family:Arial, Helvetica, sans-serif;
	padding: 3px;
	margin: 3px;
}
.paginate a {
	padding:2px 5px 2px 5px;
	margin:2px;
	border:1px solid #e4e4e4;
	text-decoration:none;
	color: #e38e24;
	background-color: #FFF;

	 font-family:Arial, Helvetica, sans-serif;
}
.paginate a:hover, .paginate a:active {
	border: 1px solid #999;
	color: #e38e24;
}
.paginate span.current {
    margin: 2px;
	padding: 2px 5px 2px 5px;
		border: 1px solid #e4e4e4;
		font-family:Arial, Helvetica, sans-serif;	
		font-weight: bold;
		background-color: #e38e24;
		color: #FFF;
	}
	.paginate span.disabled {
		padding:2px 5px 2px 5px;
		margin:2px;
		border:1px solid #eee;
		color:#DDD;
	}
	li{
		padding:4px;
		margin-bottom:3px;	
		list-style:none;}		
	ul{
	margin:6px;
	padding:0px;
	}	
