/* CSS Document */



.tablehead



{


/*background:#e4e2e2;*/
background:#E8E8FF;



font-size:26px;



color:#0000FF;



font-family:Arial, Helvetica, sans-serif;



/*font-family:"Times New Roman", Times, serif;*/



}



h1



{



background:#FFCCFF;



font-size:26px;



color:#FF0000;



font-family:"Times New Roman", Times, serif;



text-align:center;



}



.tabletitle



{



background:#FFCCFF;



font-size:16px;



color:#663333;



font-family:Arial, Helvetica, sans-serif;



/*font-family:"Times New Roman", Times, serif;*/



padding-left:5px;



}

.tabletitle1



{



background:#E8E8FF;



font-size:14px;



color:#0000FF;



font-family:Arial, Helvetica, sans-serif;



/*font-family:"Times New Roman", Times, serif;*/



padding-left:5px;



}



.label



{







font-size:12px;



color:#0033FF;



font-family:Arial, Helvetica, sans-serif;



/*font-family:"Times New Roman", Times, serif;*/



padding-left:3px;



text-align:left;



}
.h2label
{

font-size:12px;



color:#663333;



font-family:Arial, Helvetica, sans-serif;



/*font-family:"Times New Roman", Times, serif;*/



padding-left:3px;



text-align:left;



}

.hlabel
{







font-size:12px;



color:#0033FF;
background-color:#EFEFEF; 



font-family:Arial, Helvetica, sans-serif;



/*font-family:"Times New Roman", Times, serif;*/



padding-left:3px;



text-align:left;



}


.label1



{







font-size:12px;



color:#0033FF;



font-family:Arial, Helvetica, sans-serif;



/*font-family:"Times New Roman", Times, serif;*/



padding-left:3px;



}

.label2



{







font-size:10px;





color:#663333;



font-family:verdana, Helvetica, sans-serif;



/*font-family:"Times New Roman", Times, serif;*/



padding-left:3px;



text-align:left;



}

.footer
{

font-size:10px;





color:#7483ED;



font-family:verdana, Helvetica, sans-serif;



/*font-family:"Times New Roman", Times, serif;*/



padding-left:3px;



text-align:left;



}



.button



{



font-size:16px;



color:#663333;



font-family:Arial, Helvetica, sans-serif;



text-align:left;



}



.subtitle4



{



background:#99CCFF;



/*background:#e4e2e2;*/



font-size:14px;



font-weight:normal;



color:#ff0000;



font-family:Arial, Helvetica, sans-serif;



/*font-family:"Times New Roman", Times, serif;*/



}



.subtitle



{



/*background:#99CCFF;*/



background:#e4e2e2;



font-size:14px;



font-weight:bold;



color:#0033FF;



font-family:Arial, Helvetica, sans-serif;



/*font-family:"Times New Roman", Times, serif;*/



}



.subtitle1



{



color:#ff0000;



font-size:12px;



font-weight:bold;



font-family:Arial, Helvetica, sans-serif;



text-align:left;



}



.subtitle2



{



color:#663333;



font-size:12px;



font-weight:normal;



font-family:Arial, Helvetica, sans-serif;



text-align:left;



}

.subtitle_er



{



color:#ff0000;



font-size:12px;



font-weight:normal;



font-family:Arial, Helvetica, sans-serif;



text-align:left;



}

.resulttext



{



font:Arial, Helvetica, sans-serif;



font-size:12px;



color:#000000;



}







.success



{



font-family:Arial, Helvetica, sans-serif;



color:#3366FF;



font-size:14px;



}



.textfield



{



font-family:Arial, Helvetica, sans-serif;



font-size:12px;



color:#663333;



left:auto;



}



.text1



{



font-family:Arial, Helvetica, sans-serif;



font-size:12px;



color:#663333;



left:auto;



}

.style3

{



font-size:12px;



color:#0033FF;



font-family:Arial, Helvetica, sans-serif;



/*font-family:"Times New Roman", Times, serif;*/



padding-left:3px;



text-align:left;

}

.landingtxt



{



font-size:16px;

font-style:italic;

color:#663333;



font-family:Arial, Helvetica, sans-serif;



text-align:left;



}